<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EECS 337 Golden Globes Project</title>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="flat-ui.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="dist/js/vendor/html5shiv.js"></script>
      <script src="dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <center>
        <h1>EECS 337 Golden Globes Project</h1>
        <p>Zak Allen, Shikhar Mohan, Alex Hollenbeck, Tasha</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Load the results</a></p>
      </center>
    </div>
      

    <script src="jquery.min.js"></script>
    <script src="flat-ui.min.js"></script>
  </body>
</html>
